* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
<<<<<<< HEAD
}
=======
}
>>>>>>> 71a3581ae97d16d949e56c677e17ed2c5ed8a75a
